{% extends "base.html.twig" %}

{% block title %}
    {{ annonce.nomMh }}
{% endblock title %}
    
{% block body %}
    <div class="annonce-title mb-3" style="background-image: url({{ annonce.photoPrincipaleMh }}">
        <div class="container">
            <h1>{{ annonce.nomMh}}</h1>
            <p>{{annonce.presentationMh|raw }}</p>
            <p class="h2">
            <strong>{{annonce.surfaceMh}} </strong> m2, <strong>{{annonce.nbChambreMh}}</strong> chambre(s), <strong>{{annonce.nbPersonneMh}}</strong> personne(s).
            </p>
            <a href="{{ path('reservation_create',{'slugMh':annonce.slugMh}) }}" class="btn btn-primary mb-3">Réserver</a>
            {% if app.user and app.user == annonce.auteur %}
                <a href="{{ path('annonces_edit',{'slugMh':annonce.slugMh}) }}" class="btn btn-green-ormes mb-3">Modifier l'annonce</a>
                <a href="{{ path('annonces_delete', {'slugMh':annonce.slugMh}) }}" class="btn btn-danger mb-3" onclick="return confirm(`Etes vous sûr de vouloir supprimer l'annonce : {{annonce.nomMh}} ?`)">Supprimer l'annonce</a>

            {% endif %}
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-7 mb-3">
                {{annonce.detailMh|raw}}

                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in annonce.images %}
                                <li data-target="#carouselExampleCaptions" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in annonce.images %}
                                <div class="carousel-item {% if loop.first %}{# si c'est la première occurence de la boucle #} active {% endif %}">
                                    <img src="{{image.url}}" class="d-block w-100" alt="{{image.legende}}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{annonce.nomMh}}</h5>
                                        <p>{{image.legende}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <hr>

                    {% if annonce.comments|length > 0 %}
                        <h2 class="mb3">Commentaires de nos campeurs</h2>

                        <div class="alert alert-info">
                            <h4 class="alert heading text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        Note globale donnée par nos campeurs<br>
                                        <small>Cette moyenne est calculée sur {{annonce.comments|length}} avis !</small>
                                    </div>
                                    <div class="col">
                                        {% include "partials/rating.html.twig" with {'rating': annonce.avgRatings} %}
                                    </div>
                                </div>
                            </h4> 
                        </div>
                        {% for comment in annonce.comments %}
                            <div class="bg-light rounded mb-3 py-3 px-3">
                                <strong>{{ comment.author.prenom }}</strong> a dit : 
                                <blockquote>
                                    {{comment.content}}
                                </blockquote>
                                <strong>Note donnée : </strong>
                                {% include "partials/rating.html.twig" with {'rating' : comment.rating} %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>Cette annonce n'a pas encore reçu de commentaires...</h2>
                    {% endif %}
                    

                </div>            
                
            </div>

                <div class="col">
                    {% set a = annonce.auteur %} {# Variable twig pour éviter de taper annonce.auteur #}
                    <div class="row mb-3 align-items-center">
                        <div class="col-3"> 
                            <a href="{{ path('user_show', {'slug': a.slug}) }}">
                                <img src="{{a.avatar}}" class="avatar avatar-medium" alt="Avatar de {{a.fullName}}  ">
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ path('user_show', {'slug': a.slug}) }}">
                                <h3>{{a.fullName}}</h3>
                            </a>
                            <span class="badge badge-primary">{{a.mobilhomes | length}} annonces</span>
                        </div>
                    </div>
                    {{a.presentation | raw}}
                </div>
        <div class="row">
            <div class="col-12 text-center">
            <h1>TARIFS</h1>
            </div>

            <div class="col6">
                <span class="badge badge-primary m-3">Haute Saison</span> Date haute saison.
                <h3>{{annonce.tarifJourHsMh | number_format(2, ',',' ')}} &euro;/jour </h3>
                <h3>{{annonce.tarifSemaineHsMh | number_format(2, ',',' ')}} &euro;/semaine </h3>
            </div>
            <div class="col6">
                <span class="badge badge-success m-3">Basse saison</span> Date basse saison.
                <h3>{{annonce.tarifJourBsMh | number_format(2, ',',' ')}} &euro;/jour </h3>
                <h3>{{annonce.tarifSemaineBsMh | number_format(2, ',',' ')}} &euro;/semaine </h3>
            </div>
        </div>
    </div>

        </div>
    </div>


{% endblock %}