{% extends "admin/base.html.twig" %}

{% block title %}Modifier la réservation n°{{booking.id}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Modifier la réservation n°{{booking.id}}</h1>

        {{ form_start(form)}}
        <div class="row">
            <div class="col">
                {{form_row(form.dateArrivee)}}
                {{form_row(form.dateDepart)}}
                {{form_row(form.commentaire)}}
            </div>
            <div class="col">
                {{form_row(form.client)}}
                {{form_row(form.annonce)}}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Enregistrer les modifications
                </button>
            </div>
        </div>    
    {{form_end(form)}}
</div>
{% endblock %}