{% extends 'admin/base.html.twig' %}

{% block title %}administration des réservations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Administration des réservations</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Campeur</th>
                    <th>Annonce</th>
                    <th>Date Arrivée</th>
                    <th>Date Départ</th>
                    <th>Montant</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for booking in pagination.data %}
                <tr>
                    <td>{{booking.id}}</td>
                    <td>{{booking.createdAt | date('d/m/Y')}}</td>
                    <td><img src="{{booking.client.avatar}}" alt="avatar de {{booking.client.fullName}}" class="avatar avatar-micro">{{booking.client.fullName}}</td>
                    <td>{{booking.annonce.nomMh}}</td>
                    <td>{{booking.dateArrivee | date('d/m/Y')}}</td>
                    <td>{{booking.dateDepart | date('d/m/Y')}}</td>
                    <td>{{booking.montant | number_format(2, ',',' ')}}</td>
                    <td>
                        <a href="{{ path('admin_booking_edit', {'id': booking.id}) }}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                        <a href="{{ path('admin_booking_delete', {'id': booking.id}) }}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {# Pagination #}
        {{ pagination.display()}}
    </div>
{% endblock %}
